@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Dancing+Script:wght@400..700&family=Hind+Madurai:wght@300;400;500;600;700&family=Sacramento&display=swap");

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

.container {
    display: flex;
    height: 100%;
}

.illustration {
    text-align: center;
    color: #87620a;
}

.illustration h2 {
    margin-right: 10rem;
    text-align: left;
    transform: translateX(6.5rem);
}

.illustration a1 {
    font-family: "Sacramento";
    font-weight: 600;
    font-size: 35px;
    margin-right: 15rem;
    margin-top: 10px;
}

.illustration a {
    color: #87620a;
}

.illustration p {
    margin-right: 14rem;
    font-size: medium;
    transform: translatey(2rem);
}

.illustration img {
    width: 540px;
    transform: translatey(3rem);
}

.left-section {
    background-color: #f2d184;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 22px;
    width: 500px;
    margin-right: 17rem;
    font-family: "Hind Madurai", sans-serif;
    font-size: 18px;
}

.right-section {
    margin-right: 20rem;
}

form {
    max-width: 400px;
    height: 100%;
}

.sign-in-form label {
    font-weight: 700;
}

.sign-in h2 {
    margin-top: 3rem;
    font-weight: 800;
    font-size: x-large;
    margin-bottom: 5rem;
}

input[type="text"],
input[type="password"] {
    padding: 15px;
    width: 28rem;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

button {
    background-color: #fe79ae;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    font-size: medium;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

button:hover {
    background-color: #fb1671;
    opacity: 1;
}

.smallprint {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    width: 28rem;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
}

.forgot-password {
    width: 20rem;
    margin-top: -1.1rem;
    margin-left: 21rem;
}

.new-member {
    font-size: 1rem;
    text-align: left;
}

@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: grid;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 5%;
        margin-left: 20rem;
        max-height: none;
    }

    .illustration img {
        width: 420px;
        margin-left: 3rem;
        margin-bottom: 2rem;
        transform: translatey(3rem);
    }

    .left-section {
        width: 468px;
        margin-left: -8rem;
    }

    .right-section {
        width: 1px;
        margin-left: -4rem;
    }

    .illustration {
        text-align: center;
        color: #87620a;
    }

    .illustration h2 {
        font-size: 1.3rem;
        margin-left: 0.5rem;
        margin-bottom: -2rem;
    }

    .illustration a1 {
        margin-right: 10rem;
    }

    .illustration a {
        color: #87620a;
    }

    .illustration p {
        margin-top: 1rem;
        margin-bottom: -1rem;
        margin-right: 2rem;
        transform: translatex(-5rem);
        font-size: 12px;
    }

    .sign-in-form label {
        font-weight: 700;
        margin-left: 2rem;
    }

    .sign-in h2 {
        width: 20rem;
        margin-top: 3rem;
        font-weight: 800;
        font-size: 1.6rem;
        margin-bottom: 3rem;
        margin-left: 5rem;
    }

    input[type="text"],
    input[type="password"] {
        width: 22.5rem;
        margin-left: 2rem;
    }

    button {
        font-weight: bolder;
        width: 22.5rem;
        margin-left: 2rem;
    }

    .smallprint {
        font-size: 1rem;
        width: 20rem;
        margin-left: 2rem;
    }

    input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }

    .forgot-password {
        width: 10rem;
        margin-left: 13rem;
        margin-top: -1.1rem;

    }

    .new-member {
        font-size: 1.1rem;
        width: 20rem;
        margin-top: 1.1rem;
        margin-bottom: 2rem;
        margin-left: 5rem;
    }
}