<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dribbble</title>
    <link rel="stylesheet" href="styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .column ul {
            display: none; /* Hide child links by default */
        }

        .column.active ul {
            display: block; /* Show child links when parent link is active */
        }
    </style>
</head>
<body>
    <div class="footer-page">
        <div class="links">
            <div class="column">
                <h3 class="parent-link">For Designers</h3>
                <ul>
                    <li><a href="#">Go Pro!</a></li>
                    <li><a href="#">Explore Design Work</a></li>
                    <li><a href="#">Design Blog</a></li>
                    <li><a href="#">Overtime Podcast</a></li>
                    <li><a href="#">Playoffs</a></li>
                    <li><a href="#">Weekly Warm-Up</a></li>
                    <li><a href="#">Refer a Friend</a></li>
                    <li><a href="#">Code of Conduct</a></li>
                </ul>
            </div>
            <!-- Add more columns here -->
        </div>
        <hr>
        <footer>
            <div class="rights">
                <p>&copy; 2023 Dribbble. All rights reserved.</p>
            </div>
            <div class="counts">
                <p><span>20,501,853</span> shots dribbbled</p><i class='bx bx-basketball'></i>
            </div>
        </footer>
    </div>

    <script>
        document.querySelectorAll('.parent-link').forEach(link => {
            link.addEventListener('click', () => {
                link.parentElement.classList.toggle('active'); // Toggle 'active' class on parent element
            });
        });
    </script>
</body>
</html>
