@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap;700&family=Sacramento&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    --color1: #6e6e6e;
    --color2: none;
}

.illustration {
    font-family: "Sacramento";
    font-weight: 600;
    font-size: 30px;
    margin-left: 1.5rem;
    margin-top: 20px;
    margin-bottom: -2.7rem;
}

header {
    color: #fff;
    padding: 10px;
    margin-bottom: -2rem;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 150px;
    margin-left: 70rem;
    margin-top: -1.7rem;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #9e9ea7;
    font-size: medium;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1.3rem;
    height: 1.3rem;
}

.briefcase-logo img {
    display: flex;
    align-items: center;
    position: relative;
    height: 60px;
    width: 40px;
    margin-left: 80rem;
    margin-top: -3rem;
}

.profile-logo img {
    display: flex;
    align-items: center;
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: 83rem;
    margin-top: -3.1rem;
}

.finish-btn {
    background-color: #fe79ae;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 87rem;
    transform: translatey(-2.2rem);
}

.finish-btn:hover {
    background-color: #fb1671;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 8rem;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: #6e6e6e;
    font-weight: 550;
    text-decoration: none;
}

.verification-section {
    margin: 50px auto;
    width: 80%;
    text-align: center;
}

.verification-section h2 {
    font-size: 40px;
    margin-top: 6rem;
}

.mail-logo img {
    width: 130px;
    height: 130px;
    margin-top: -2rem;
}

.email-content1 {
    color: #6e6e6e;
    font-size: 19px;
}

.email-content1 .email a {
    color: black;
    font-weight: 550;
    text-decoration: none;
}

.resend-mail {
    color: #6e6e6e;
    font-size: 19px;
    text-align: center;
    margin-top: 2rem;
}

.resend-mail a {
    color: #fb1671;
    margin-bottom: -2rem;
}

.resend-mail p {
    margin-bottom: -0.6rem;
}

.resend-mail a {
    font-weight: bold;
}

.section p {
    margin-top: 2rem;
    font-size: 19px;
    color: #6e6e6e;
}

.section a {
    color: #fb1671;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}

.links {
    margin-top: 5rem;
}

.social-content {
    margin-top: 2.8rem;
}

.social-content i {
    margin-left: 4.8rem;
}

.links .social-content i {
    font-size: x-large;
    margin-right: -4rem;
}

.social-content a {
    font-family: "Sacramento";
    font-weight: 600;
    font-size: 45px;
    margin-left: 5rem;
    color: #fb1671;
}

.social-content p {
    width: 20rem;
    text-align: left;
    font-size: 18px;
    margin-left: 5rem;
    color: #000000;
}

.footer-page {
    background-color: #ebebeb66;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
}

.social-links a {
    color: #333;
    font-size: 24px;
    margin: 0 10px;
}

.social-links i {
    width: 20rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    margin-bottom: 3.8rem;
    margin-top: 2.3rem;
}

.column h3 {
    color: #000000;
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 25px;
}

.column ul li a {
    color: #282828;
    text-decoration: none;
}

footer {
    color: #000000;
    text-align: center;
    padding: 10px;
}

.rights {
    margin-right: 70rem;
    color: #6e6e6e;
}

.counts {
    margin-top: -2.2rem;
    margin-left: 70rem;
    color: #6e6e6e;
}

.counts span {
    color: #000000;
    font-weight: bold;
}

.counts i {
    transform: translateY(-2.5rem);
    margin-left: 15rem;
    font-size: 2rem;
    color: #fb1671;
}




.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
}

.menu {
    display: flex;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 2.3rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 610px) {

    body {
        font-family: "Poppins", sans-serif;
        --color1: #ffffff;
        --color2: #fe79ae;
    }

    .column ul {
        display: none;
    }

    .column.active ul {
        display: block;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
        font-size: larger;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .nav-bar {
        padding: 40px;
        margin-left: -2rem;
        margin-right: -0.6rem;
        margin-top: -2rem;
        margin-bottom: -7.2rem;
    }

    .email-content1 p {
        font-size: 1rem;
    }

    .email a {
        font-size: 1rem;
    }

    .section p {
        font-size: 1rem;
    }

    .resend-mail p {
        font-size: 1rem;
    }

    .footer-page {
        margin-left: -3rem;
    }

    .group {
        margin-left: 0.5rem;
        transform: translateY(8.3rem);
    }

    .group input {
        width: 20rem;
        border: solid 2px #9e9ea7;
    }

    .briefcase-logo img {
        width: 3.5rem;
        height: 5rem;
        margin-left: 14.5rem;
        transform: translateY(8rem);
    }

    .mail-logo img {
        margin-left: 2rem;
    }

    .profile-logo img {
        margin-left: 18rem;
        width: 3rem;
        height: 3rem;
        transform: translateY(6.8rem);
    }

    .finish-btn {
        margin-left: 8rem;
        transform: translateY(49rem);
    }

    .counts {
        margin-left: 20rem;
        margin-bottom: 2rem;
    }

    .counts p {
        margin-left: -24.5rem;
        margin-top: 3rem;
        margin-bottom: -2rem;
    }

    .counts i {
        font-size: 1.5rem;
        margin-left: -9rem;
        transform: translateY(0.6rem);
    }

    .social-content {
        margin-left: -5rem;
        margin-bottom: 3rem;
    }

    .links {
        display: flex;
        margin-left: 4.8rem;
    }

    .column {
        font-size: 1.1rem;
        margin-right: 5rem;
        margin-top: -2rem;
        margin-bottom: 1rem;
    }

    .column ul li {
        margin-bottom: 2px;
    }

    .rights {
        margin-right: 0.5rem;
    }

    .verification-section h2 {
        margin-top: 6rem;
    }

}