footer {
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  #footerLinks {
    list-style-type: none;
    padding: 0;
  }
  
  #footerLinks li {
    margin-bottom: 10px;
  }
  
  #footerLinks li a {
    text-decoration: none;
    color: #333;
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
  }
  
  .childLinks {
    display: none; /* Hide child links by default */
  }
  
  .hidden {
    display: none;
  }